<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dropdown</title>
		<link rel="stylesheet" href="../../styles/global.css" />
		<link rel="stylesheet" href="./style.css" />
	</head>
	<body>
		<section class="component">
			<button class="dropdown">
				<span class="dropdown__value">🇮🇳 India</span>
				<svg
					width="32"
					height="32"
					viewBox="0 0 32 32"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="icon chevron-down"
				>
					<path
						d="M8 12L16 20L24 12"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
			</button>
			<ul class="dropdown__list">
				<button class="dropdown__item selected">🇮🇳 India</button>
				<button class="dropdown__item">🇱🇰 Sri Lanka</button>
				<button class="dropdown__item">🇳🇬 Nigeria</button>
				<button class="dropdown__item">🇧🇷 Brazil</button>
				<button class="dropdown__item">🇹🇼 Taiwan</button>
			</ul>
		</section>
		<script src="./script.js"></script>
	</body>
</html>
