@use '../../styles/global' as *;

:root {
	--bg-light: #f5f7fb;
	--text-light: #2c3e50;

	--bg-dark: #222;
	--text-dark: #f5f7fb;

	--border-light: #dbe2f0;
	--border-dark: #444;

	--bgc-light: #fff;
	--bgc-100-light: #f2f2f2;
	--bgc-dark: #353535;
	--bgc-100-dark: #252525;

	--bg-shadow-light: 0 0 4px 4px hsla(213, 100%, 63%, 0.25);
	--bg-shadow-dark: 0 0 4px 4px hsl(0, 0, 5);

	--dropdown-shadow-light: 0px 10px 32px -4px hsla(222, 52%, 19%, 0.1),
		0px 6px 14px -6px hsla(222, 52%, 19%, 0.12);
	--dropdown-shadow-dark: none;

	/* by default light theme */
	--bg: var(--bg-light);
	--bgc: var(--bgc-light);
	--text: var(--text-light);
	--border: var(--border-light);
	--bgc-100: var(--bgc-100-light);
	--bg-shadow: var(--bg-shadow-light);
	--dropdown-shadow: var(--dropdown-shadow-light);
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background-color: var(--bg);
	color: var(--text);
	font-family: system-ui, sans-serif;
	transition: all 0.2s ease-in-out;
	transition-property: color, background-color;
}

svg {
	pointer-events: none;
}

.component {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dropdown {
	width: 18rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	background-color: var(--bgc);

	&:focus {
		box-shadow: 0 0 4px 4px hsla(212, 50%, 60%, 0.2);
		outline: 2px solid hsl(212, 100%, 63%);
	}

	&__list {
		background-color: var(--bgc);
		display: flex;
		flex-direction: column;
		border: 1px solid var(--border);
		border-radius: 6px;
		box-shadow: var(--dropdown-shadow);
		visibility: hidden;
		pointer-events: none;
		transform: scale(0.98) translate(0, -20px);
		opacity: 0;
		transition: transform 0.2s ease-in, opacity 0.2s ease-in,
			visibility 0s ease-in 0.25s;
	}

	.opened ~ &__list {
		transform: scale(1) translate(0, 0);
		opacity: 1;
		pointer-events: auto;
		transition: all 0.1s ease-in;
		transition-property: opacity, transform;
		visibility: visible;
	}

	&__item {
		min-height: 2.5rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 1.2em;

		&:focus-visible {
			outline: 2px solid hsl(212, 100%, 63%);
			outline-offset: -2px;
		}

		&:first-child {
			border-radius: 6px 6px 0 0;
		}

		&:last-child {
			border-radius: 0 0 6px 6px;
		}
	}
}

.selected {
	background-color: var(--bgc-100);
}

.selected::after {
	content: '';
	display: flex;
	margin-left: auto;
	color: inherit;
	height: 24px;
	width: 24px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5 12 5 5L20 7' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.chevron-down {
	transition: transform 0.2s ease-in-out;
	transform-origin: center;
}

.opened .chevron-down {
	transform: rotate(180deg);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--bg-dark);
		--text: var(--text-dark);
		--bgc: var(--bgc-dark);
		--border: var(--border-dark);
		--bgc-100: var(--bgc-100-dark);
		--bg-shadow: var(--bg-shadow-dark);
		--dropdown-shadow: var(--dropdown-shadow-dark);
	}

	.selected::after {
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5 12 5 5L20 7' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	}
}
