@use './theme' as *;
@use '../../styles/global' as *;

body {
	background-color: var(--surface-200);
	color: var(--text-100);

	@media (hover: hover), (pointer: fine) {
		&::before {
			content: 'RIGHT CLICK FOR MENU';
			display: block;
			position: absolute;
			color: var(--text-100);
			opacity: 0.3;
			letter-spacing: 3px;
			transform: translate(-50%);
			left: 50%;
			bottom: 2rem;
		}
	}
}

$spacing: 0.25rem;

.menu {
	background-color: var(--surface-100);
	min-width: calc($spacing * 40);
	position: absolute;
	z-index: 100;
	display: none;
	flex-direction: column;
	padding: $spacing;
	gap: $spacing;
	border-radius: calc($spacing * 2);
	border: 1px solid var(--surface-400);
	user-select: none;

	&__item {
		display: flex;
		gap: calc($spacing * 1.25);
		align-items: center;
		line-height: 1;
		min-height: calc($spacing * 8);
		padding: calc($spacing * 2) $spacing;
		border-radius: $spacing;
		transition: background-color 0.15s ease-in;

		&:hover {
			background-color: var(--surface-200);
		}

		&--more {
			position: relative;
		}

		&--more-options {
			position: absolute;
			left: calc(100% * var(--toggle));
			top: 0;
			animation: rise 200ms ease-in-out forwards;
			clip-path: none;
		}

		:is(&--more:hover, &--more:focus-within) > &--more-options {
			display: flex;
		}

		&:active {
			filter: brightness(var(--brightness));
		}

		&--danger {
			color: var(--red-200);

			&:hover {
				background-color: var(--red-100);
			}
		}
	}

	&__icon-chevron-right {
		margin-left: auto;
	}
}

@keyframes rise {
	from {
		transform: translateY(10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

hr {
	height: 1px;
	border: none;
	background-color: var(--surface-200);
}
