@use './theme' as *;
@use '../../styles/global' as *;

body {
	background-color: var(--surface-200);
	color: var(--text-100);
	-webkit-touch-callout: none;

	&::before {
		content: 'right click for menu';
		display: block;
		position: fixed;
		color: var(--text-100);
		opacity: 0.3;
		letter-spacing: 3px;
		transform: translate(-50%);
		left: 50%;
		bottom: 2rem;
		text-transform: uppercase;
	}

	@include touch-device {
		&::before {
			content: 'long press for menu';
			font-size: 0.6rem;
		}
	}
}

$spacing: 0.25rem;

.menu {
	background-color: var(--surface-100);
	min-width: calc($spacing * 40);
	position: absolute;
	z-index: 100;
	display: none;
	flex-direction: column;
	padding: $spacing;
	gap: $spacing;
	border-radius: calc($spacing * 2);
	border: 1px solid var(--surface-400);
	user-select: none;

	&__item {
		display: flex;
		gap: calc($spacing * 1.25);
		align-items: center;
		line-height: 1;
		min-height: calc($spacing * 8);
		padding: calc($spacing * 2) $spacing;
		border-radius: $spacing;
		transition: background-color 0.15s ease-in;

		&:hover {
			background-color: var(--surface-200);
		}

		&--more {
			position: relative;
		}

		&--more-options {
			--tX: translateX(0);
			position: absolute;
			left: calc(100% * var(--toggle));
			top: 0;
			animation: rise 200ms ease-in-out forwards;
			clip-path: none;
		}

		:is(&--more:hover, &--more:focus-within) > &--more-options {
			display: flex;
		}

		&:active {
			filter: brightness(var(--brightness));
		}

		@include touch-device {
			&--more {
				padding: 0;
				& > svg,
				& > span {
					display: none;
				}
			}

			&--more-options {
				--tX: translateX(-50%);
				position: static;
				display: flex;
				border: none;
				padding: 0;
				border-radius: $spacing;

				& > &__item {
					transform: none;
				}
			}

			&:active {
				background-color: var(--surface-200);
			}
		}

		&--danger {
			color: var(--red-200);

			&:hover {
				background-color: var(--red-100);
			}
		}
	}

	@include touch-device {
		& {
			--tX: translateX(-50%);
			animation: rise 250ms cubic-bezier(0.23, 1, 0.32, 1);
			width: min($spacing * 60, 75%);
			left: 50%;
			transform: translateX(-50%);
			bottom: 2rem;
			position: fixed;
			transform-origin: center;
		}

		&__item--more-options {
			position: static;
			animation: none;
			transform: none;
			width: 100%;
		}
	}

	&__icon-chevron-right {
		margin-left: auto;
	}
}

@keyframes rise {
	from {
		transform: translateY(10px) var(--tX);
		opacity: 0;
	}
	to {
		transform: translateY(0) var(--tX);
		opacity: 1;
	}
}

hr {
	height: 1px;
	border: none;
	background-color: var(--surface-200);
}
