/* =========
    Global
   ========= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*lightmode-colors*/
  --bg-light: #f5f7fb;
  --primary: hsl(230, 100%, 58%);
  --primary-gradient: linear-gradient(
    hsla(228, 98%, 64%, 0.841),
    hsl(230, 100%, 58%)
  );
  --secondary-text-light: hsl(230, 100%, 58%);
  --secondary-bg-light: white;
  --tertiary-text-light: #454d54;
  --tertiary-bg-light: white;
  --tertiary-border-light: #d9d9d9;
  --tertiary-disabled-text-light: #45544bae;
  --tertiary-disabled-border-light: #d9d9d973;
  --box-shadow-hover-light-one: rgba(205, 215, 254, 0.707);
  --box-shadow-active-light-one: hsl(228 81% 80%);
  --box-shadow-hover-light-two: rgba(204, 207, 222, 0.381);
  --box-shadow-active-light-two: rgb(185, 193, 224);
  --download-default-green-light: #55ca3d;
  --download-hover-green-light: #36a420;
  --download-active-green-light: #3eb825cc;
  --focus-outline-color: rgba(79, 75, 75, 0.749);
  --component-bg-light: #eaedf0;
  /*darkmode-colors*/
  --bg-dark: #22262a;
  /* --component-bg-dark: #353535; */
  --component-bg-dark: #353b41;
  --box-shadow-hover-dark-one: #171a1c3d;
  --box-shadow-active-dark-one: #171a1c67;
  --secondary-text-dark: white;
  --secondary-bg-dark: #484f56;
  --tertiary-bg-dark: #171a1c;
  --text-dark: ;
  --download-default-green-dark: var(--download-hover-green-light);
  --download-hover-green-dark: var(--download-default-green-light);
  --download-active-green-dark: var(--download-default-green-dark);
  /*default*/
  --background: var(--bg-light);
  --component-bg: var(--component-bg-light);
  --box-shadow-hover-one: var(--box-shadow-hover-light-one);
  --box-shadow-active-one: var(--box-shadow-active-light-one);
  --secondary-text: var(--secondary-text-light);
  --secondary-bg: var(--secondary-bg-light);
  --tertiary-border: var(--tertiary-disabled-border-light);
  --tertiary-bg: var(--tertiary-bg-light);
  --download-default-green: var(--download-default-green-light);
  --download-hover-green: var(--download-hover-green-light);
  --download-active-green: var(--download-active-green-light);
}
/* =========
    layout
   ========= */
body {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}
.component {
  display: flex;
  background-color: var(--component-bg);
  flex-wrap: wrap;
  flex-direction: column;
  /* width: 80%; */
  width: 85%;
  height: auto;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}
.component-row1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5ch;
  padding: 1.8rem;
}

.component-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5ch;
  padding: 1.8rem;
  width: 100%;
}
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 650;
  border: 0px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-text-dark);
  padding: 0.55rem 1.3rem;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.1s all ease;
  /* overflow: hidden; */
}
.primary {
  background-image: var(--primary-gradient);
}
.secondary {
  color: var(--primary);
  background-color: var(--secondary-bg);
  border: 2.4px solid hsla(230, 100%, 58%, 0.507);
}

.secondary-icon {
  color: var(--primary);
  background-color: var(--secondary-bg);
  border: 2.4px solid hsla(230, 100%, 58%, 0.507);
}
.secondary-icon span {
  padding-left: 5px;
}
.secondary-icon svg {
  position: relative;
  top: 1px;
  right: 3px;
  pointer-events: none;
}
.tertiary {
  color: var(--tertiary-text-light);
  background-color: var(--tertiary-bg);
  border: 2.4px solid var(--tertiary-border-light);
}
.tertiary-disabled {
  color: var(--tertiary-disabled-text-light);
  background-color: var(--bg-light);
  border: 2.4px solid var(--tertiary-disabled-border-light);
  cursor: not-allowed;
}

.download {
  background-color: var(--download-default-green);
}

.download span {
  padding-left: 10px;
}

.upload-file {
  color: black;
  background-color: #d9dee3;
  height: 2.3rem;
  padding: 0rem 1.8rem;
  position: relative;

  font-size: medium;
  display: inline-flex;
  /* flex-shrink: 3; */
  border-radius: 6px;
  -webkit-tap-highlight-color: transparent;
  --webkit-touch-callout: none;
  inline-size: 100%;
  user-select: none;
  /*width: min-content; */
}

input[type="file"]::file-selector-button {
  /* padding: 6px; */
  color: #22262ad5;
  position: relative;
  right: 29px;
  cursor: pointer;
  font-size: medium;
  font-weight: 650;
  background-color: #ffffff;
  border: none;
  height: 100%;
  border-radius: 4px;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  box-shadow: 0px 0px 1px 0.2px #00000021;
}

.primary:hover {
  box-shadow: 0px 0px 1px 7px var(--box-shadow-hover-one);
}

:is(.secondary, .secondary-icon):hover {
  box-shadow: 0px 0px 1px 7px var(--box-shadow-hover-one);
}

:is(.primary, .secondary, .secondary-icon):active {
  box-shadow: 0px 0px 1px 0px var(--box-shadow-active-one);
}

:is(.tertiary):hover {
  box-shadow: 0px 0px 1px 7px var(--box-shadow-hover-light-two);
}

:is(.tertiary):active {
  box-shadow: 0px 0px 1px 0px var(--box-shadow-active-light-two);
}

.download:hover {
  background-color: var(--download-hover-green);
}

.download:active {
  background-color: #3eb825cc;
  background-color: var(--download-active-green);
}

:where(button, input):focus-visible {
  outline-offset: 3px;
  outline: 2px solid black;
  outline-color: var(--focus-outline-color);
}

:where(button, input):where(:active):focus-visible {
  outline: 2px solid black;
  outline-offset: 0.5px;
  outline-color: var(--focus-outline-color);
}
:where(input):active {
  filter: brightness(0.9);
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--secondary-text-dark);
    --background: var(--bg-dark);
    --component-bg: var(--component-bg-dark);
    --box-shadow-hover-one: var(--box-shadow-hover-dark-one);
    --box-shadow-active-one: var(--box-shadow-active-dark-one);
    --secondary-bg: var(--secondary-bg-dark);
    --tertiary-bg: var(--tertiary-bg-dark);
    --tertiary-border: var(--tertiary-disabled-border-dark);
    --box-shadow-hover-light-two: var(--box-shadow-hover-dark-one);
    --box-shadow-active-light-two: var(--box-shadow-active-dark-one);
    /* --focus-outline-color: hsla(0, 0%, 89%, 0.915); */
    --focus-outline-color: #8ab4f8;
    --tertiary-disabled-border-light: #ffffff4c;
    --tertiary-disabled-text-light: #adb5bd;
    --download-default-green: var(--download-default-green-dark);
    --download-hover-green: var(--download-hover-green-dark);
    --download-active-green: var(--download-active-green-dark);
  }

  .secondary,
  .secondary-icon {
    border: none;
  }
  .tertiary {
    color: white;
    border: 1px solid #ffffff4c;
  }
  .button {
    box-shadow: 0px 2px 1px 2px #00000017;
  }
  .tertiary-disabled {
    background-color: #353b4100;
    border: 2px solid var(--tertiary-disabled-border-light);
    opacity: 0.8;
    box-shadow: none;
  }
  .upload-file {
    box-shadow: 0px 0px 1px 2px #00000010;
    color: white;
    background: var(--tertiary-bg);
  }
  input[type="file"]::file-selector-button {
    color: white;
    background: var(--secondary-bg);
  }
  svg {
    stroke: white;
  }
  .upload-file {
    box-shadow: 0px 1px 5px 2px #00000021;
  }
}
@media screen and (max-width: 600px) {
  .download {
    transition: all 0.05s ease;
  }
  :is(.secondary, .secondary-icon, .tertiary, .primary) {
    transition: all 0.1s ease-in-out;
  }
  :is(.secondary, .secondary-icon, .tertiary, .primary):hover {
    box-shadow: none;
  }
  .download:hover {
    background-color: var(--download-default-green);
  }
  @media (prefers-color-scheme: dark) {
    :is(.secondary, .secondary-icon, .tertiary, .primary):hover {
      box-shadow: 0px 2px 1px 2px #00000017;
    }
    .download:hover {
      background-color: var(--download-default-green-dark);
    }
  }

  :is(.secondary, .secondary-icon, .tertiary, .primary):active {
    /* transform: translateY(0.12em); */
    transform: scale(0.8);
    transition: all 0.15s ease-in-out;
  }
  .download:active {
    filter: brightness(1.3);
  }
}
