@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button(
  $fw: var(--medium),
  $bg: var(--surface-700),
  $text: var(--text-600)
) {
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem clamp(0.8rem, 1.5vw, 1.8rem);
  font-size: clamp(0.9rem, 1vw, 1.5rem);
  font-weight: $fw;
  color: $text;
  background-color: $bg;
  cursor: pointer;
}

@keyframes shake1 {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}
