@use '../../styles/global' as *;
@use './theme' as *;

body {
	@extend %centered;
	padding: 1rem;
	background-color: var(--surface-200);
	color: var(--text-200);
}

.tabs-wrapper {
	background-color: var(--surface-100);
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	overflow: hidden auto;
	inline-size: min(35rem, 100%);
	block-size: min(35rem, 40vh);
	border: 2px solid var(--surface-300);
}

.tabs {
	isolation: isolate;
	border-bottom: 2px solid var(--surface-300);
	padding: 0.25rem 0;
	pointer-events: none;
	display: flex;
}

.highlighter {
	position: absolute;
	transition: all 0.15s ease-in-out;
	transition-property: opacity;
	transform-origin: top left;
	z-index: -1;
	border-radius: 0.25rem;
	background-color: var(--surface-300);
	will-change: width;

	@include touch-device {
		display: none;
	}
}

.transition {
	transition-property: opacity, width, transform;
}

.tab {
	position: relative;
	padding: 0.25rem 0.8rem;
	pointer-events: auto;
	margin: 0;
	color: var(--text-100);
	user-select: none;

	&:hover {
		color: var(--text-200);
	}
}

.tab--active {
	color: var(--text-200);

	&::after {
		content: '';
		display: block;
		position: absolute;
		inset: auto 0 -6px 0;
		block-size: 2px;
		background-color: var(--surface-400);
	}
}

.tabs-content {
	padding: 0.75rem 0;
}

.tab-content {
	display: none;
}

.show {
	display: block;
	animation: slideIn 0.25s ease-in-out forwards;
}

.credits {
	position: absolute;
	inset: auto 1rem 1rem auto;
	line-height: 1;
	padding-inline-start: 0.5rem;

	.logo {
		display: inline-flex;
		height: 2rem;
		width: 2rem;
		justify-content: center;
		align-items: center;
		background-color: var(--surface-100);
		margin-inline-start: 0.5rem;
	}
}

@keyframes slideIn {
	from {
		translate: var(--translate) 0;
		opacity: 0;
	}
	to {
		opacity: 1;
		translate: 0;
	}
}
