* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color-scheme: dark light;
}

body {
	isolation: isolate;
	min-height: 100vh;
}

.toast-container {
	position: fixed;
	pointer-events: none;
	bottom: 0;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-inline: auto;
	flex-direction: column;
	translate: -50% 0;
	left: 50%;
	z-index: -1;

	> * {
		pointer-events: auto;
	}
}

.add-toast {
	padding: 0.15em 1em;
	font-size: 1.2rem;
	position: absolute;
	inset: 50% auto auto 50%;
	translate: -50% -50%;
}
