:root {
  /*light theme colors*/
  --bg-light: #f5f7f6;
  --primary-light: #052635;
  --secondary-light: #644fcc;
  --tertiary-light: #467cdb;
  --secondary-cta-icon-light: #3671d8;
  --primary-cta-icon-light: #041e2a;

  /*dark theme colors*/
  --bg-dark: #f5f7f6;
  --primary-dark: #052635;
  --secondary-dark: #644fcc;
  --tertiary-dark: #467cdb;
  --secondary-cta-icon-dark: #3671d8;
  --primary-cta-icon-dark: #041e2a;

  /*default colors*/
  --bg: var(--bg-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --tertiary: var(--tertiary-light);
  --secondary-cta-icon: var(--secondary-cta-icon-light);
  --primary-cta-icon: var(--primary-cta-icon-light);

  /*fonts-weights*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  /*fonts-sizes*/
  --font-sm: 0.9rem;
  --font-med: 1.44rem;
  --font-large: 2rem;
}
html {
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  /* font-size: 1.125rem; */
  background-color: var(--bg);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 109px;
}
.logo {
  font-size: var(--font-med);
  font-weight: var(--fw-medium);
}

.options ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}

.options a {
  display: inline-block;
  margin: 0 0.81rem;
  color: var(--primary);
  text-decoration: none;
  font-size: var(--font-sm);
  font-weight: var(--fw-light);
  transition: 1s all;
  position: relative;
  transition: all 0s ease-in-out;
}
.options a:hover {
  color: var(--tertiary);
}

.options a::before {
  content: "";
  position: absolute;
  background-color: var(--tertiary);
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: all 0.2s ease-in-out;
}
li.active a::before {
  width: 100%;
}
li.active a {
  color: var(--tertiary);
}
main.main__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px 140px 0px;
}
.container {
  padding: 0 min(6rem, 10vw);
  margin: min(6rem, 7vw) 0;
}
.title {
  color: var(--primary);
  font-size: var(--font-large);
  font-weight: var(--fw-regular);
}
.title .line {
  position: relative;
}
.title .line::before {
  content: "";
  position: absolute;
  top: -10px;
  height: 2.5px;
  width: 55%;
  border-radius: 5px;
  background-color: var(--tertiary);
}
.para {
  color: var(--primary);
  font-size: var(--font-sm);
  font-weight: var(--fw-light);
}
.hero {
  padding: 0 3.4rem;
}
.hero__img {
  width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.wave {
  position: absolute;
  z-index: -1;
  bottom: 0%;
  right: 0.05%;
  width: fit-content;
  overflow: hidden;
  line-height: 0;
}
.wave svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  border-radius: 4px;
  border: none;
  margin-right: 18px;
}
.btn a {
  text-decoration: none;
  color: #f5f7f6;
  font-size: 0.7rem;
  font-weight: var(--fw-medium);
  display: flex;
  align-items: center;
}
.btn span {
  display: inline-block;
  padding: 8px 36px 8px 16px;
}
.icons {
  display: inline-flex;
  padding: 8px;
  border-radius: 4px;
}
.explore_btn {
  background-color: var(--tertiary);
}
.explore_btn .icons {
  background-color: var(--secondary-cta-icon);
}
.github_btn {
  background-color: var(--primary);
}
.github_btn .icons {
  background-color: var(--primary-cta-icon);
}

.sectionh {
  margin: 100px 100px;
  display: inline;
}
/*
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  */
.text__emphasis {
  color: var(--secondary);
}
@media screen and (max-width: 600px) {
  :root {
    --font-sm: 0.9rem;
    --font-med: 1.44rem;
    --font-large: 1.6rem;
  }
  nav {
    flex-direction: column;
    gap: 1ch;
  }
  main {
    flex-direction: column-reverse;
    margin-bottom: 0px;
  }
  .wave {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --tertiary: var(--tertiary-dark);
    --secondary-cta-icon: var(--secondary-cta-icon-dark);
    --primary-cta-icon: var(--primary-cta-icon-dark);
  }
}
