* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	--bg: transparent;
	--color: black;
	--size: 1rem;
	appearance: none;
	background-color: var(--bg);
	color: var(--color);
	border: var(--border);
	cursor: pointer;
	font-size: var(--size);
	padding: 0.5em 1em;
	text-align: left;
	font-family: inherit;
}

button:is(:focus-visible) {
	outline: 2px solid currentColor;
}

input,
button {
	font-family: inherit;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
}

.sprite {
	display: none;
}

svg {
	pointer-events: none;
}

@mixin touch-device {
	@media (hover: none), (pointer: coarse) {
		@content;
	}
}
