<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/css/style.css">
    <script src="index.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div id="slider" class="slider">
        <div class="wrapper">
            <div id="slides" class="slides">
                <img src="./images/image-1.jpg" class="slide" alt="">
                <img src="./images/image-2.jpg" class="slide" alt="">
                <img src="./images/image-3.jpg" class="slide" alt="">
                <img src="./images/image-4.jpg" class="slide" alt="">
                <img src="./images/image-5.jpg" class="slide" alt="">
            </div>
        </div>
        <button id="prev" class="control prev">
            <svg id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 " />
            </svg>
        </button>
        <button id="next" class="control next">
            <svg id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 " />
            </svg>
        </button>
        <div class="bubbles"></div>
    </div>
</body>


</html>