@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button(
  $fw: var(--medium),
  $bg: var(--surface-700),
  $text: var(--text-600)
) {
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem clamp(0.8rem, 1.5vw, 1.8rem);
  font-size: clamp(0.9rem, 1vw, 1.5rem);
  font-weight: $fw;
  color: $text;
  background-color: $bg;
  cursor: pointer;
}

@keyframes shake1 {
  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}
