$colors: (
  light: (
    text: (
      100: hsl(var(--h) var(--s) 0%),
      //black
      200: hsl(var(--h) var(--s) 10%),
      300: hsl(var(--h) var(--s) 40%),
      //label text
      400: hsl(var(--h) var(--s) 50%),
      //reset text
      500: hsl(var(--h) var(--s) 60%),
      //cancel text
      600: hsl(var(--h) var(--s) 95%),
      //white button text
      700: hsl(250 55% 55%),
      //gallery
    ),
    surface: (
      100: hsl(var(--h) var(--s) 80%),
      //border
      200: hsl(var(--h) var(--s) 85%),
      //reset button
      300: hsl(var(--h) var(--s) 90%),
      //modal2
      400: hsl(var(--h) var(--s) 93%),
      //inputbox
      500: hsl(var(--h) var(--s) 95%),
      //bg &modal1
      600: hsl(218, 67%, 57%),
      //second button
      700: hsl(228, 87%, 64%),
      //open modal btn
      dark: hsla(0, 0%, 0%, 0.4),
    ),
  ),
  dark: (
    text: (
      100: hsl(var(--h) var(--s) 95%),
      //black
      200: hsl(var(--h) var(--s) 10%),
      300: hsl(var(--h) var(--s) 40%),
      //label text
      400: hsl(var(--h) var(--s) 50%),
      //reset text
      500: hsl(var(--h) var(--s) 60%),
      //cancel text
      600: hsl(var(--h) var(--s) 95%),
      //white button text
      700: hsl(250 55% 55%),
      //gallery
    ),
    surface: (
      100: hsl(var(--h) var(--s) 20%),
      //border
      200: hsl(var(--h) var(--s) 15%),
      //reset button
      300: hsl(var(--h) var(--s) 10%),
      //modal2
      400: hsl(var(--h) var(--s) 7%),
      //inputbox
      500: hsl(var(--h) var(--s) 11%),
      //bg &modal1
      600: hsl(218, 47%, 57%),
      //second button
      700: hsl(228, 66%, 64%),
      //open modal btn
      dark: hsla(0, 0%, 0%, 99.6),
    ),
  ),
);

@mixin color-scheme($type: light) {
  @each $prop, $value in map-get($colors, $type) {
    @each $num, $val in $value {
      --#{$prop}-#{$num}: #{$val};
    }
  }
}
:root {
  --h: 0;
  --s: 0%;
  --regular: 400;
  --medium: 500;

  @include color-scheme(light);
}
[color-scheme="dark"] {
  @include color-scheme(dark);
}
[color-scheme="light"] {
  @include color-scheme(light);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include color-scheme(dark);
  }
}
