@use "themes" as *;
@use "layouts" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--surface-500);
}
.btn_modal {
  @include flex;
}
.section {
  background-color: var(--surface-500);
  width: 100%;
  height: 100%;
  @include flex;
  transition: all 0.4s ease;
}
.modal_btn {
  @include button;
}
.modal {
  overflow: hidden;
  min-width: 30vw;
  border-radius: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 2ch;
  background-color: var(--surface-500);
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  & .details_section {
    display: flex;
    flex-direction: column;
    gap: 2ch;
    padding: 0 1rem;
  }
  & .btn_section {
    width: 100%;
    background-color: var(--surface-300);
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-radius: 0px 0px 8px 8px;
  }
  & .x {
    cursor: pointer;
    & > path {
      fill: var(--text-100);
    }
  }
  & .label {
    color: var(--text-300);
    font-size: 1rem;
  }
  transition: all 0.3s ease-in;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.489);
  // display: none;
}
.first_section {
  .reset {
    display: flex;
    align-items: center;
    gap: 0.2ch;
    @include button(var(--regular), var(--surface-200), var(--text-400));
    padding: 0.4rem clamp(0.6rem, 1vw, 1.6rem);
  }
}
.second_section {
  .cancel {
    @include button(var(--regular), var(--surface-200), var(--text-500));
    background-color: transparent;
  }
  .signin {
    @include button(var(--medium), var(--surface-600), var(--text-600));
  }
}
.header {
  & .logo {
    font-family: "Outfit", sans-serif;
    font-weight: var(--medium);
    font-size: clamp(1.5rem, 1.5vw, 3rem);
    color: var(--text-100);
    user-select: none;
  }
  & .theme {
    color: var(--text-700);
  }
}
.deets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2ch;
  flex-direction: row-reverse;
  & input {
    width: 70%;
    padding: 0.5rem 0;
    outline: none;
    text-indent: 10px;
    border: 0.8px solid var(--surface-100);
    border-radius: 0.2rem;
    background-color: var(--surface-400);
    font-size: medium;
    color: var(--text-600);
  }
  & input::placeholder {
    color: transparent;
  }
}
@media screen and (max-width: 600px) {
  .modal {
    min-width: 50vw;
  }
  .deets {
    position: relative;
    & input {
      width: 100%;
      background-color: transparent;
    }
    // & input::placeholder {
    //   // color: var(--text-300);
    //   display: none;
    // }
    & label {
      // display: none;
      position: absolute;
      top: 25%;
      left: 5%;
      color: var(--text-300);
      transition: all 0.2s ease;
      cursor: text;
    }
    & input:focus ~ label {
      cursor: pointer;
      top: -25%;
      left: 2%;
      font-size: small;
      background-color: var(--surface-500);
      padding: 0 0.02rem;
    }
  }

  .modal .header {
    justify-content: center;
    .x {
      display: none;
    }
  }
  .first_section {
    .reset {
      display: none;
    }
  }
}

input:invalid {
  animation: shake1 0.2s forwards;
  outline-style: solid;
  outline-width: 1px;
  outline-color: red;
}
.darken {
  filter: brightness(0.8) blur(1px) opacity(0.5);
  background-color: var(--surface-dark);
  pointer-events: none;
}
.hidden {
  top: -500px;
}
