<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
    <title>Accordion</title>

</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="accordion-items">Accordion item #1
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="20"
                        height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="6 9 12 15 18 9" />
                    </svg>
                </span>
            </div>
            <div class="answer">
                <div class="answer-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, ipsam.</div>
            </div>
            <div class="break"></div>
        </div>
        <div class="wrapper">
            <div class="accordion-items">Accordion item #2 <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="20"
                        height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="6 9 12 15 18 9" />
                    </svg>
                </span></div>
            <div class="answer">
                <div class="answer-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, ipsam. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Sequi, sapiente! Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Quibusdam accusantium officiis, sit obcaecati alias unde perspiciatis
                    pariatur voluptate eaque omnis quo nisi autem! Odio nostrum non ipsa ad, ipsum sit.lorem Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Possimus explicabo impedit, quidem deserunt incidunt
                    fugiat dicta minus molestias corrupti nobis, vero assumenda eligendi vitae pariatur. Quis aliquam
                    quas architecto ipsam!this is the last word</div>
            </div>
            <div class="break"></div>
        </div>
    </div>
</body>

</html>