:root {
  //light theme colors
  --bg-light: #f5f7fb;
  --input-bg-light: white;
  --text-light: #31323f;
  --highlight-light: #f2f2f2;
  --border-light: #d9d4d481;
  //dark theme colors
  --bg-dark: #222222;
  --input-bg-dark: #353535;
  --text-dark: #dce1e7;
  --highlight-dark: #303030;
  --border-dark: #484f56;
  //default theme colors
  --bg: var(--bg-light);
  --input-bg: var(--input-bg-light);
  --text: var(--text-light);
  --highlight: var(--highlight-light);
  --border: var(--border-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --input-bg: var(--input-bg-dark);
    --text: var(--text-dark);
    --highlight: var(--highlight-dark);
    --border: var(--border-dark);
  }
}
